@using Microsoft.EntityFrameworkCore
@using static System.Net.WebRequestMethods
@using Ljbc1994.Blazor.IntersectionObserver
@using Ljbc1994.Blazor.IntersectionObserver.API
@using Ljbc1994.Blazor.IntersectionObserver.Components
@inject IDbContextFactory<MyRssClient.Data.MyContext> DbFactory

<div class="card" style="max-width: 30rem;">
    <div id="@Post.Guid.ToString().ToUpper()" class="card-header d-flex justify-content-between align-items-center">
        <span>@Post.ParentChannel.Title</span>
        <img src="@Post.ParentChannel.SelectedImage?.ImageAsBase64" class="rounded" style="max-height: 3rem" alt="...">
    </div>
    <div class="card-body" dir="@(Post.ParentChannel.Language.Contains("ar") ? "rtl" : "lrt")">
        <a href="@theLink" @onclick="CountClick" class="text-decoration-none text-reset">@content</a>
        <p class="card-text">@(Post.Description.Length > 120 ? Post.Description.Substring(0, 120) + " ..." : Post.Description)</p>
    </div>
    <IntersectionObserve OnChange="@OnIntersectingChanged">
        <div class="d-flex justify-content-between" @ref="context.Ref.Current">
            <button class="btn btn-block btn-primary" @onclick="Like">
                @if (Post.IsLiked) {
                    <i class="bi-hand-thumbs-up-fill"> Liked</i>
                } else {
                    <i class="bi-hand-thumbs-up"> Like</i>
                }
            </button>
            <span class="px-3 d-flex align-items-center">@Post.PublishDate</span>
        </div>
    </IntersectionObserve>
</div>

@code {
    [Parameter]
    public required Models.Post Post { get; set; }
    private string theLink => Post.Links.FirstOrDefault()?.Uri.ToString() ?? "#";
    private RenderFragment content =>@<div>
        <h5 class="card-title">@Post.Title</h5>
        @if (Post.Images.Any(i => i.IsSelected)) {
            <img src="@Post.Images.FirstOrDefault(i => i.IsSelected)?.ImageAsBase64" class="card-img-top" alt="...">
        }
        </div>
    ;
    private async Task Like(MouseEventArgs args) {
        Post.IsLiked = true;
        using var context = DbFactory.CreateDbContext();
        context.Entry(Post).State = EntityState.Modified;
        await context.SaveChangesAsync();
    }
    private async void CountClick() {
        Post.ClickCounter++;
        using var context = DbFactory.CreateDbContext();
        context.Entry(Post).State = EntityState.Modified;
        await context.SaveChangesAsync();
    }

    public async void OnIntersectingChanged(IntersectionObserverEntry entry) {
        Post.IsRead = true;
        using var context = DbFactory.CreateDbContext();
        context.Entry(Post).State = EntityState.Modified;
        await context.SaveChangesAsync();
    }
}
